* {
    font-family: Arial;
    margin: 5px;
    padding: 5px;
}
body {
    background: rgb(255, 196, 252);

    background: #d5b8ff;
    
}
header{
    background: #cff0ff;
}
table{
    margin-top: 20px;
    background: #d5b8ff;
    width: 100%;
}
thead{
    background: #fff579;
}
td {
    background: #fdffd5;
}
.wrapper{
    width: 800px;
    margin: 0 auto;
    background: rgb(254, 150, 255);
}
form{
    background: #fff579;
}
#tablerow:hover{
    background-color: #b9e3f9;
}
