<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>joiioji</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/beautiful.css}" />
</head>
<body>
<div class="wrapper">
    <header>
        <a href="/">Movies</a>
        <a href="actors.html">Actors</a>
        <a href="login.html">Login</a>
    </header>

    <a href="createActor.html">Create actor</a>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Birth year</th>
            <th>Movies</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="actor: ${actors}" id="tablerow">
            <td th:text="${actor.actor_id}"/>
            <td>
                <a th:href="@{/displayActor(id=${actor.actor_id})}" > <p th:text="${actor.name}"/> </a>
            </td>
            <td th:text="${actor.birthYear}"/>
            <!--  <td><p th:text="${movie.actors}"/></td> -->
            <td><p th:each="movie: ${actor.movies}" th:text="${movie.title}"/></td>


            <td><a th:href="@{/deleteMovie(id=${actor.actor_id})}"> Delete </a> </td>
            <td><a th:href="@{/updateMovie(id=${actor.actor_id})}"> Update </a> </td>
         </tr>
         </tbody>


     </table>
 </div>
 </body>
 </html>