<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>AIH EHM DEH BHE</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/beautiful.css}" />
</head>
<body>
<div class="wrapper">
    <header>
        <a href="/">Movies</a>
        <a href="actors.html">Actors</a>
    </header>

    <a href="create.html">Create movie</a>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Production year</th>
            <th>Genre</th>
            <th>Actors</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie: ${movies}" id="tablerow">
            <td th:text="${movie.movie_id}"/>
            <td th:text="${movie.title}"/>
            <td th:text="${movie.productionYear}"/>
            <td th:text="${movie.genre}"/>
            <td>wp</td>
            <td><a th:href="@{/deleteMovie(id=${movie.movie_id})}"> Delete </a> </td>
            <td><a th:href="@{/updateMovie(id=${movie.movie_id})}"> Update </a> </td>
        </tr>
        </tbody>


    </table>




</div>
</body>
</html>